<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="sidebar">
        <div class="logo">
            <%= link_to root_path do %>
                <%= image_tag "128.jpg" %>
            <% end %>
        </div>

        <ul>
            <li class="category">Website</li>
            <li><%= link_to "Blog", root_path %></li>
            <li><a href=#0>About</a></li>
        </ul>

        <ul>
            <li class="category">Social</li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Dribbble</a></li>
            <li><a href="#">Youtube</a></li>
        </ul>

        <p class="sign-in">Admin Login</p>

    </div><!-- .sidebar -->

    <div class="main-content">
        <div class="container">
            <%= yield %>
        </div>
    </div><!-- .main-content -->


</body>
</html>
